@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.iconContainer {
  position: absolute;
  width: 800px;
  height: 800px;
  animation:
    spin2 35s linear infinite,
    fadeIn 2s ease-in forwards;
  margin: 0;
  border: 1px dashed #add8e67d;
  border-radius: 100%;
  right: 7%;
  top: 55%;
  z-index: -1;
}

.icon {
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  animation: spin 35s linear infinite;
}
@media (max-width: 1024px) {
  .iconContainer {
    width: 500px;
    height: 500px;
  }
}
