:root {
  --speed: 10s;
  --transition: 0.15s;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: var(--font-open-sans);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: 700;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}
